@import "tailwindcss";
@import "tw-animate-css";

button {
  cursor: pointer;
}

body {
  background: #000;
  color: #fff;
}

.scrollHidden::-webkit-scrollbar {
  display: none;
}

.scrollBar::-webkit-scrollbar {
  height: 2px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
